{% extends "admin/layout/base.html" %}
{% import "index/pages/time_page.html" as pg %}

{% block content %}

    <div class="container-fluid">
        <div class="row margin-top-10">
            <div class="col-md-12">
                <a href="{{ url_for('admin.bannerAdd') }}" class="btn btn-primary write-title form-submit">Create</a>
            </div>
            <div class="col-md-4">
            {% for error in get_flashed_messages(category_filter=["ok"]) %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-check-circle"></i> {{ error }} &nbsp;
                </div>
            {% endfor %}
            </div>
        </div>
        <br>

        <div class="row">
            {% for item in banners.items %}
                <div class="col-md-4">
                    <!-- PANEL NO PADDING -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% if item.active<1 %}【禁用】{% endif %}{{ item.tag }}</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class = "slimScrollDiv"  style="display: block;">
                            <div class="panel-body no-padding bg-primary text-center">
                                <div class="">
                                        <img src="{{ url_for('static',filename=item.picurl) }}" class="activity-icon blog-img" >
                                        <p class="blog-content">【{% if item.type == 1 %}Banner {% else %}广告{% endif %}】【{{ item.title }}】</p>
                                </div>
                            </div>
                            <div class="panel-footer demo-button">
                                <a href="{{ url_for('admin.bannerEdit',id=item.id) }}" class="btn btn-warning operate-btn"><i class="fa fa-warning"></i> Edit</a>
                                <button type="button" class="btn btn-danger delete-btn" data-id="{{ item.id }}"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                    <!-- END PANEL NO PADDING -->
                </div>
            {% endfor %}
        </div>
        <div class="row pagination">
            {{ pg.page(banners,'admin.banners') }}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(".delete-btn").click(function(){
            var id = $(this).data('id');
            var _this = $(this)
            layer.confirm('确定要删除吗？', {
              btn: ['删了','取消'] //按钮
            }, function(){
                 $.ajax({
                       type:"POST",
                       url:"/melon/banners/delete",
                       data:{id:id},
                       dataType: "json",
                       success: function(data){
                           console.log(data)
                           if(data.status){
                               _this.parents('.panel').remove()
                               layer.closeAll();
                               layer.msg("删除成功！");
                               setInterval(function(){
                                   location.href = location.href;
                                  }, 2000);
                           } else {
                               layer.msg(data.error)
                           }
                       }
                    })
            }, function(){

            });
        })
    </script>
{%  endblock %}