{% macro page(data,query,url) -%}
     {% if data and data.pages>1 %}

            {% if data.pages>10 %}

                <a title="Total record" href="{{ url_for(url,page=1) }}?{{ query }}"><b>首页</b></a>

                {% if data.has_prev %}
                    <a href="{{ url_for(url,page=data.prev_num) }}?{{ query }}">上一页</a>
                {% endif %}

            {% endif %}

            {% for v in data.iter_pages() %}
                {% if v %}
                    {% if v == data.page %}
                         &nbsp;&nbsp;&nbsp;<b>{{ v }}</b>
                    {% else %}
                        <a href="{{ url_for(url,page=v) }}?{{ query }}">{{ v }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if data.pages>10 %}
                {% if data.has_next %}
                    <a href="{{ url_for(url,page=data.next_num) }}?{{ query }}">下一页</a>
                {% endif %}

                <a href="{{ url_for(url,page=data.pages) }}?{{ query }}">尾页</a>

            {% endif %}

    {% endif %}
{% endmacro %}

