{% extends "index/layout/base.html" %}
{% import "index/pages/blog_page.html" as pg %}

{% block content %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav"><span>{{ webconfig().inscription }} </span>
            <a href="{{ url_for('home.index') }}" class="n1">首页</a>
            <a href="#" class="n2">{{ currentnav.name }}</a>
        </h1>
  <!--blogsbox begin-->
  <div class="blogsbox">
      {% for article in articles.items %}
         <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
              <h3 class="blogtitle"><a href="{{ url_for('home.blog',id=article.id) }}" target="_blank">{{ article.title }}</a></h3>
             {% set imagesall = article.images.split(';') %}
             {% if imagesall|length>1 %}
                 <span class="bplist">
                    <a href="{{ url_for('home.blog',id=article.id) }}" title="">
                        {% for image in imagesall %}
                            <li><img src="{{ url_for('static',filename=image) }}" alt=""></li>
                        {% endfor %}
                    </a>
                 </span>
             {% elif imagesall[0] %}
                  <span class="blogpic">
                      <a href="{{ url_for('home.blog',id=article.id) }}" title="">
                        <img src="{{ url_for('static',filename=imagesall[0]) }}" alt="">
                      </a>
                  </span>
             {% else %}
             {% endif %}

              <p class="blogtext">{{ article.description }}</p>
              <div class="bloginfo">
                <ul>
                  <li class="author"><a href="{{ url_for('home.blog',id=article.id) }}">{{ article.author }}</a></li>
                  <li class="lmname"><a href="{{ url_for('home.blogs',nav=article.nav_id) }}">{{ article.nav.name}}</a></li>
                  <li class="timer">{{ article.created_at|datetime }}</li>
                  <li class="view"><span>{{ article.views_num }}</span>人已阅读</li>
                </ul>
              </div>
        </div>
      {% endfor %}
      <div class="pagelist">
        {{ pg.page(articles,currentnav.id,'home.blogs') }}
      </div>
  </div>
  <!--blogsbox end-->
  <div class="sidebar">
    {% include "index/layout/right.html" %}
  </div>
</div>
{% endblock %}